#jumbo {
   .content {
      position: relative;
      h1 {
         // font-size: $h1;
         font-size: $display-xl;
         color: $red;
         position: absolute;
         top:50%;
         left: 50%;
         transform: translate(-50%,-50%);
      }
   }


   .content__quad {
      // display: flex;
      position: absolute;
      top: 5%;
      left: 50%;
      // transform: translateY(-75%);
      display: flex;
      flex-wrap: wrap;
      width: 500px;
      height: 400px;
      position: absolute;
      z-index: 100;

      .quad__container {
         // background-color: black;
         height: 200px;
         width: 250px;
         display: block;
         position: relative;
         overflow: hidden;

         img {
            max-width: 100%;
            height: auto;
            margin: 1em;
            // height: 200px;
         }
      }
   }
}