#jumbo {
   h1 {
      font-size: $h1;
      color: $red;
   }

   .content__quad{
      // display: flex;
      position: absolute;
      top:0;
      left: 50%;
      transform: translateY(-75%);
      display: flex;
      flex-wrap: wrap;
      width: 500px;
      height: 400px;
      position: absolute;
      .quad__container {
         background-color: red;
         height: 200px;
         width: 250px;
         display: block;
         position: relative;
         overflow: hidden;
         img {
            max-width:100%;
            height: auto;
         }
      }
   }
}