#nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100; }
  #nav .nav-btn {
    margin: 0 1em;
    color: #1D1D2C;
    font-weight: 700;
    font-size: 1em;
    font-size: 18px; }

#pointer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100; }
  #pointer img {
    height: 150px; }

#jumbo {
  background-color: #F7F4E9; }
  #jumbo .content {
    position: relative; }
    #jumbo .content h1 {
      font-size: 85px;
      color: #E40C2B;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  #jumbo .content__quad {
    position: absolute;
    top: 5%;
    left: 50%;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 400px;
    position: absolute;
    z-index: 100; }
    #jumbo .content__quad .quad__container {
      height: 200px;
      width: 250px;
      display: block;
      position: relative;
      overflow: hidden; }
      #jumbo .content__quad .quad__container img {
        max-width: 100%;
        height: auto;
        margin: 1em; }

#about {
  background-color: #3CBCC3; }
  #about h1 {
    font-size: 56px;
    color: #F7F4E9;
    margin-bottom: 1em; }
  #about .content {
    padding: 0em 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap; }
    #about .content p {
      font-size: 22px;
      color: #F7F4E9; }

#skills {
  background: #F7F4E9; }
  #skills .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #skills .content h1 {
      font-size: 56px; }
    #skills .content ul {
      padding: 3em 0; }
      #skills .content ul li {
        border: none;
        background: transparent; }
        #skills .content ul li .fab {
          font-size: 2em; }
        #skills .content ul li .fa-html5 {
          color: #E44D26; }
        #skills .content ul li .fa-css3-alt {
          color: #0F5298; }
        #skills .content ul li .fa-sass {
          color: #CD6799; }
        #skills .content ul li .fa-npm {
          color: #CC3534; }
        #skills .content ul li .fa-php {
          color: #474A8A; }
        #skills .content ul li .fa-bootstrap {
          color: #602C50; }
        #skills .content ul li .fa-react {
          color: #61DBFB; }
        #skills .content ul li .fa-js {
          color: #F0DB4F; }
    #skills .content .marqueeSkills {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      #skills .content .marqueeSkills img {
        margin: 2em; }

#experience .experience-title {
  font-size: 56px; }

#experience p {
  font-size: 22px;
  padding: 5px 0px; }

#projects {
  background-color: #F7F4E9;
  flex-direction: column; }
  #projects h1 {
    font-size: 56px; }
  #projects #gridProjects {
    display: grid;
    grid-template-columns: repeat(8, 120px);
    grid-gap: 15px;
    grid-template-rows: repeat(6, 100px); }
    #projects #gridProjects .grid-item {
      background-color: #3CBCC3;
      overflow: hidden; }
    #projects #gridProjects .grid-item-1 {
      grid-column: 1 / 4;
      grid-row: 1 /6; }
    #projects #gridProjects .grid-item-2 {
      grid-column: 4 / 6;
      grid-row: 1 /4;
      background-color: yellow; }
    #projects #gridProjects .grid-item-3 {
      grid-column: 4/6;
      grid-row: 4/6;
      background-color: green; }
    #projects #gridProjects .grid-item-4 {
      grid-column: 6/8;
      grid-row: 1 / 3; }
    #projects #gridProjects .grid-item-5 {
      grid-column: 6/ 8;
      grid-row: 3/6;
      background-color: pink; }

body {
  height: 100vh;
  position: relative; }

#root {
  overflow: hidden; }

.block-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

.content {
  position: relative;
  width: 80%;
  height: 70%; }
