#nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0; }
  #nav .nav-btn {
    margin: 0 1em;
    padding: 10px;
    color: #1D1D2C;
    font-weight: 500;
    font-size: 1em; }

#pointer {
  position: fixed;
  bottom: 0;
  left: 0; }
  #pointer img {
    height: 150px; }

body {
  height: 100vh;
  position: relative;
  background-color: #F7F4E9; }
