#nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }
  #nav .nav-btn {
    margin: 0 1em;
    color: #1D1D2C;
    font-weight: 700;
    font-size: 1em;
    font-size: 18px; }

#pointer {
  position: fixed;
  bottom: 0;
  left: 0; }
  #pointer img {
    height: 150px; }

#jumbo h1 {
  font-size: 56px;
  color: #E40C2B; }

#jumbo .content__quad {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateY(-75%);
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 400px;
  position: absolute; }
  #jumbo .content__quad .quad__container {
    background-color: red;
    height: 200px;
    width: 250px;
    display: block;
    position: relative;
    overflow: hidden; }
    #jumbo .content__quad .quad__container img {
      max-width: 100%;
      height: auto; }

#title {
  background-color: #ffffff; }
  #title h1 {
    font-size: 56px; }

body {
  height: 100vh;
  position: relative;
  background-color: #F7F4E9; }

#root {
  overflow: hidden; }

.block-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

.content {
  position: relative;
  width: 80%;
  height: 60%;
  background-color: red; }
