#nav{
   // position: absolute;
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 100;
   .nav-btn{
      margin: 0 1em;
      // padding: 10px; 
      color: $black; 
      font-weight: 700; 
      font-size: 1em;
      font-size: $link;
   }   
}