// Import tool and Variables
@import 'variables/index.scss';
@import 'partials/index.scss';

// Import page styles form SCSS
@import 'views/index.scss';

body{
   height: 100vh;
   position: relative;
   background-color: $white;
}
#root{
   overflow: hidden;
}

.block-container{
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
}